.CtaButton {
    display: block;
    font-family: 'Montserrat', sans-serif;
    background-color: #4c4c4b;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px 0 20px;
    letter-spacing: 1px;
}

.CtaButton:hover {
    background-color: #2e3131;
}