@use "fonts";

.Description-container {
    display: flex;
}

.Description {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.Description-content {
    flex: 1 1 auto;
}

@media screen and (orientation: portrait) {
    .Description-container {
        width: 100%;
    }

    .Description {
        margin: 0px 50px 50px 50px;
    }
}

@media screen and (orientation: landscape) {
    .Description-container {
        width: 50%;
        height: 100%;
    }

    .Description {
        margin: 30px 50px;
    }

    .Description-content {
        overflow-y: auto;
    }    
}

.Description-title {
    @include fonts.Headline
}

.Description-subtitle {
    @include fonts.Subtitle;
    color: #a3a5a7;
}

.Description-block {
    border-bottom: 1px solid #a3a5a7;
    padding: 15px;
}

.Section-title {
    @include fonts.Section;
    color: #a3a5a7;
}

.TextWithIcon-icon {
    height: 1.1em;
    width: 1.1em;
    fill: #a3a5a7;
    stroke: #a3a5a7;
    padding-right: 5px;
}

.TextWithIcon-text {
    color: #4c4c4b;
    @include fonts.Body-2;
}

.TextWithIcon-text > a {
    color: #a3a5a7;
    text-decoration: none;
}

.TextWithIcon-text > a:hover {
    text-decoration: underline;
}

.DescriptionSection-text {
    @include fonts.Body-2;
    color: #4c4c4b;
}

.TextWithIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
}