@use "fonts";

.SizePicker-text {
    @include fonts.Body-1;
    font-style: italic;
    color: #808284;
    position: absolute; 
}

.SizePicker-buttons {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.SizePicker-buttons .Button {
    background-color: #fafafa;
    height: 30px;
    width: 30px;
    margin: 20px 5px 5px 0px;
    display: flex;  
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}

.SizePicker-buttons .Button-unavailable .ButtonContent {
    text-decoration: line-through;
    color: #a3a5a7;
}

.SizePicker-buttons .Button-available .ButtonContent {
    color: #808284;
}

.SizePicker-buttons .Button-1:hover + div:before {
    content: "28\2014 Coming 03/12/24";
}

.SizePicker-buttons .Button-2:hover + div + div:before {
    content: "27\2014 Coming 03/12/23";
}

.SizePicker-buttons .Button-3 + div + div + div:before {
    content: "26\2014 Available now";
}

.SizePicker-buttons .Button-4:hover + div + div + div + div:before {
    content: "25\2014 Discontinued";
}


.SizePicker-buttons .Button .ButtonContent {
    @include fonts.Body-1; 
}

.SizePicker-buttons .Button-available {
    border-color: #a3a5a7;
}

.SizePicker-buttons .Button:hover {
    border-color: #dfe0e1;
}

.SizePicker-guide {
    margin: 8px 0;
}

.SizePicker-guide > a {
    @include fonts.Body-1;
    color: #4c4c4b;
    text-decoration: none;
}

.SizePicker-guide > a:hover {
    text-decoration: underline;
}