@charset "UTF-8";
.Button-unavailable:hover {
  cursor: not-allowed;
}

.ColorPicker-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 0.25px;
  position: absolute;
}

.ColorPicker-buttons {
  display: flex;
  height: 50px;
  flex: 1 1 auto;
  position: relative;
}

.ColorPicker-buttons .Button-inner {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin: 4px 4px;
}

.ColorPicker-buttons .Button {
  background-color: white;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin: 20px 10px 0 0;
  border: solid 1px transparent;
}

.ColorPicker-buttons .Button-available {
  border-color: #808284;
}

.ColorPicker-buttons .Button:hover {
  border-color: #a3a5a7;
}

.ColorPicker-buttons .Button-unavailable:hover .Button-inner {
  background-color: #a3a5a7;
}

.ColorPicker-buttons .Button-1 .Button-inner {
  background-color: #ff85a2;
}

.ColorPicker-buttons .Button-2 .Button-inner {
  background-color: #ff9eb5;
}

.ColorPicker-buttons .Button-3 .Button-inner {
  background-color: #ffd1dc;
}

.ColorPicker-buttons .Button-2 + div + div:before {
  content: "Software Engineer";
}

.ColorPicker-buttons .Button-1:hover + div:before {
  content: "Mathematician—SOLD OUT";
}

.ColorPicker-buttons .Button-3:hover + div + div + div:before {
  content: "Film Enthusiast—SOLD OUT";
}

.CtaButton {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #4c4c4b;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 20px 0 20px;
  letter-spacing: 1px;
}

.CtaButton:hover {
  background-color: #2e3131;
}

.Description-container {
  display: flex;
}

.Description {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.Description-content {
  flex: 1 1 auto;
}

@media screen and (orientation: portrait) {
  .Description-container {
    width: 100%;
  }

  .Description {
    margin: 0px 50px 50px 50px;
  }
}
@media screen and (orientation: landscape) {
  .Description-container {
    width: 50%;
    height: 100%;
  }

  .Description {
    margin: 30px 50px;
  }

  .Description-content {
    overflow-y: auto;
  }
}
.Description-title {
  font-family: "Lora", serif;
  font-size: 25px;
  letter-spacing: 0px;
}

.Description-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: 0.1px;
  color: #a3a5a7;
}

.Description-block {
  border-bottom: 1px solid #a3a5a7;
  padding: 15px;
}

.Section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 1.25px;
  font-variant-caps: all-small-caps;
  color: #a3a5a7;
}

.TextWithIcon-icon {
  height: 1.1em;
  width: 1.1em;
  fill: #a3a5a7;
  stroke: #a3a5a7;
  padding-right: 5px;
}

.TextWithIcon-text {
  color: #4c4c4b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
}

.TextWithIcon-text > a {
  color: #a3a5a7;
  text-decoration: none;
}

.TextWithIcon-text > a:hover {
  text-decoration: underline;
}

.DescriptionSection-text {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #4c4c4b;
}

.TextWithIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5px;
}

.Images-container {
  display: flex;
}

.Images {
  display: flex;
  flex: 0 1 auto;
  min-width: 1px;
}

.ImagePicker {
  flex: 0 0 auto;
  display: flex;
}

@media screen and (orientation: landscape) {
  .Images-container {
    width: 50%;
    height: 100%;
    justify-content: flex-end;
  }

  .Images {
    margin: 30px 0px 30px 50px;
    flex-direction: row;
  }

  .ImagePicker {
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
  }
}
@media screen and (orientation: portrait) {
  .Images-container {
    width: 100%;
  }

  .Images {
    margin: 30px 50px 30px 50px;
    flex-direction: column-reverse;
  }

  .ImagePicker {
    overflow-x: auto;
    overflow-y: hidden;
    flex-direction: row;
  }
}
.Thumbnail {
  width: 100px;
}

.ImageViewer {
  flex: 1 1 auto;
  min-width: 1px;
}

.ImageViewer-fullImage {
  max-width: 100%;
  max-height: 100%;
}

.ImageViewer > input[type=radio] {
  display: none;
}

.ImageViewer .ImageViewer-fullImage {
  display: none;
}

.ImageViewer > input[type=radio]:checked + .ImageViewer-fullImage {
  display: block;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.SizePicker-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 0.25px;
  font-style: italic;
  color: #808284;
  position: absolute;
}

.SizePicker-buttons {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.SizePicker-buttons .Button {
  background-color: #fafafa;
  height: 30px;
  width: 30px;
  margin: 20px 5px 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}

.SizePicker-buttons .Button-unavailable .ButtonContent {
  text-decoration: line-through;
  color: #a3a5a7;
}

.SizePicker-buttons .Button-available .ButtonContent {
  color: #808284;
}

.SizePicker-buttons .Button-1:hover + div:before {
  content: "28—Coming 03/12/24";
}

.SizePicker-buttons .Button-2:hover + div + div:before {
  content: "27—Coming 03/12/23";
}

.SizePicker-buttons .Button-3:hover + div + div + div:before {
  content: "26—Coming 03/12/22";
}

.SizePicker-buttons .Button-4 + div + div + div + div:before {
  content: "25—Available now";
}

.SizePicker-buttons .Button .ButtonContent {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

.SizePicker-buttons .Button-available {
  border-color: #a3a5a7;
}

.SizePicker-buttons .Button:hover {
  border-color: #dfe0e1;
}

.SizePicker-guide {
  margin: 8px 0;
}

.SizePicker-guide > a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 0.25px;
  color: #4c4c4b;
  text-decoration: none;
}

.SizePicker-guide > a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.Assc {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
}

@media screen and (orientation: portrait) {
  .Assc {
    flex-direction: column;
    overflow-y: auto;
  }
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/*# sourceMappingURL=assc.css.map */
